
body{
    width: 100%;
}
header {
  width: 100%;
  text-align: center;
}
.title {
  width: 100%;
  background-color: rgb(13, 13, 100);
  padding-left: 250px;
  color: white;
  font-size: 20px;
}
th :hover {
  color: rgb(3, 3, 255);
}
.home-page{
    width: 100%;
    background: rgb(98, 97, 97);
    opacity: 0.8;
    position: fixed;
}

.title2 tr th {
  color: rgb(255, 255, 255);
 
  font-size: 20px;
  padding-right: 15px;
}
td {
  padding-left: 130px;
}
.content table {
  width: 100%;
  background-color: aqua;
  padding: 50px;
}
.content table tr td {
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
}
.content table tr :hover {
  background-color: azure;
}
.album-car {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  gap:20px
}
.car > img{
  width: 100%;
  height: 200px;
}

.car2 {
  width: 30%;
  float: right;
  margin-right: 200px;
}
.car img {
  width: 100%;
}
.car2 img {
  width: 100%;
}

.car img:hover,
img.car-black:active {
  font-size: 150%;
  transform: scale(1.1);
}
.car2 img:hover,
img.car2-black:active {
  font-size: 150%;
  transform: scale(1.1);
}
.introduce{width: 40%;
    margin-top: 30%;
}

a :hover{
    color: blue;
}
a{
    text-decoration: none; 
}
.why{
    text-align: center;
}
.why > div{
    color: rgb(38, 38, 200);
}
.star{
   display: flex;
}
.starr >img{
    width: 20%;
}
.starr > p{
    font-size: 15px;

}
.register{
    background-color: rgb(7, 7, 154);
    padding: 50px;
}
.register>h2{
    color: white;
}
.infor > input{
    padding: 5px;
}
.infor > button{
    background-color: red;
    color: white;
    padding: 9px;
}
footer{
    display: flex;
   background-color: rgb(190, 189, 189);
}
.list{
    margin-right: 50px;
}
.information{
    position: relative;
    margin-right: 50px;
   
}
.video{
   
    background-color: rgb(236, 236, 236);
    margin-top: 50px;
}
.Add{
  float: left;
  margin-right: 100px;
}

