.box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    grid-template-areas: " header header header header header header"
        "menu menu menu menu menu menu"
        "content-left  main main main main content-right"
        "footer footer footer footer footer footer";
}

.box>div {
    border: 1px solid red;

}

.header {
    grid-area: header;
    height: 50px;

}

.menu {
    grid-area: menu;
    height: 50px;
}

.content-left {
    grid-area: content-left
}

.main {
    grid-area: main
}

.footer {
    grid-area: footer;
    height: 50px;
}

.content-right {
    grid-area: content-right;
    ;
}